<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Overlook Hotel</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header>
    <h1>WELCOME TO THE OVERLOOK HOTEL</h1>
    <nav>
        <a href="/index">Home</a>
        <a href="/api/rooms">Room</a>
        <a href="#">Events</a>
        <a href="#">Facility</a>
        <a href="#">Booking</a>
        <a href="#">Contact</a>
        <a href="/login" class="login-btn">Login</a>
    </nav>
</header>

<div class="banner"></div>

<div class="section login-section">
    <h2>LOGIN</h2>
    <form id="loginForm">
        <label for="email">Email:</label>
        <input type="email" id="email" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label class="show-password" >Show Password
            <input type="checkbox" id="showPassword" onclick="togglePassword()">
        </label>

        <button type="submit">Login</button>
    </form>
    <p>
        Don't have an account? <a href="/register">Register here</a>
    </p>
</div>

<footer>
    <p>© 2025 Overlook Hotel | Contact: contact@overlookhotel.com | +33 1 23 45 67 89</p>
</footer>

<script th:src="@{/js/login.js}"></script>

</body>
</html>
