<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register - Overlook Hotel</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header>
    <h1>WELCOME TO THE OVERLOOK HOTEL</h1>
    <nav>
        <a href="/index" class="active">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>
</header>

<div class="banner"></div>

<div class="login-section">
    <h2>REGISTER</h2>
    <form id="registerForm">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" required>

        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password"required>
        <label class="show-password"> Show Password
            <input type="checkbox" id="showPassword" onclick="togglePassword()">
        </label>

        <label for="role">Role</label>
        <select id="role" name="roleId" required>
            <option value="1">EMPLOYEE</option>
            <option value="2">CLIENT</option>
            <option value="3">MANAGER</option>
        </select>

        <button type="submit">Register</button>
    </form>
</div>

<footer>
    <p>© 2025 Overlook Hotel | Contact: contact@overlookhotel.com | +33 1 23 45 67 89</p>
</footer>

<script th:src="@{/js/register.js}"></script>

</body>
</html>
